<h1>You're in the view for task#show!</h1>
<ul>
  <li><strong>Task</strong>: <%= @task.title %></li>
  <li><strong>--> Status</strong>: <%= @task.completed? ? "Done!" : "Still to do..." %></li>
  <li><strong>--> Desc:</strong>: <%= @task.details %></li>
</ul>
<%= link_to "Back to index?", tasks_path %>
